$text_color: red

//миксин в css
@mixin box
    display: block
    width: 250px
    height: 200px
    background-color: blue


*
    margin: 0
    border: 0
    box-sizing: border-box

h1
    margin: 0
    background: aliceblue
    border: aqua
    color: $text_color

.holder
    margin-top: 50px
    min-width: 100vw
    min-height: 10vh
    background-color: bisque
    display: flex
    align-items: center
    justify-content: center

.center
    background-color: black
    height: 300px
    width: 300px
    display: flex

.text
    color: $text_color
    font-size: 3em
    margin: auto
    text-align: center


h2
    color: $text_color

.block
    background-color: black

    h3
        color: azure
    //как бы продолжаем наш класс
    &_color
        background: white

        button
            @include box

.back
    width: 100%
    height: 100vh
    background-image: url("https://pbs.twimg.com/profile_images/604644048/sign051.gif"), url("https://estherpgl.files.wordpress.com/2012/06/no-big-deal1.gif"), url("http://www.quicksprout.com/images/foggygoldengatebridge.jpg")
    background-size: 80px, 300px, cover
    background-repeat: no-repeat
    background-position: 50% 90%, 50% bottom, center
